<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <servlet>
        <servlet-name>ServicioBancoCliente</servlet-name>
        <servlet-class>com.banco.cliente.mock.servicio.ServicioBancoClienteImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServicioBancoCliente</servlet-name>
        <url-pattern>/BancoClienteMock</url-pattern>
    </servlet-mapping>
</web-app>
